body{
	font-family: 'Arial', sans-serif;
	font-weight:400;
	font-size:15px;
	line-height:2.0;
}

.wp-editor p{ max-width:750px;}

.wp-editor h1,
.wp-editor h2,
.wp-editor h3,
.wp-editor h4,
.wp-editor h5,
.wp-editor h6{ max-width:750px; line-height:1.25;font-family: 'Arial', sans-serif;	font-weight:700;}