/* @containers ******************************************************************************************** ********************************************************************************************/
 .container, .container_alt {
     width: 100%;
     max-width: 1320px;
     margin: 0 auto;
     padding:0 0;
     overflow:hidden;
     position:relative;
}
 #header .container{
     overflow:visible;
}
 #footer .container{
     background:none !important;
}
/* @columns ******************************************************************************************** ********************************************************************************************/
 .onecol, .twocol, .threecol, .fourcol, .fivecol,.fifthcol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol,.warpbox {
     margin-left:0;
     float: left;
     min-height: 1px;
}
 .foocol{
     margin:0 0 0 0;
     width:25%;
     padding: 20px 0 20px 80px;
     position:relative;
     height:100%;
     min-height:1px;
     float:left;
}
 .foocol.first{
    padding: 20px 0 20px 0;
}
/*sidebar*/
 .fourcol{
     width:26%;
     padding:0 0;
    margin:0 0 40px 0 !important;
     min-height:1px;
     float:right;
     position:relative;
}
/*content*/
 .eightcol{
    width:74%;
    padding:0 0;
     margin:0 0 40px 0 !important;
     min-height:1px;
     float:left;
     position:relative;
}
 .sixcol{
    width:50%
}
 .first, .ml-first {
    margin-left: 0px !important;
}
 .widgetable{
     padding:0 0 0 40px;
     overflow:hidden;
     margin:0 0 0 0;
}
 .widgetable_sticky.scroll-to-fixed-fixed{
     min-width:340px;
}
/* @responsive mode ******************************************************************************************** ********************************************************************************************/
 @media screen and (max-width: 1355px) {
     .container, .container_alt{
         padding:0 20px;
    }
     #navigation a.searchOpen{
         right:20px;
    }
     .widgetable_sticky.scroll-to-fixed-fixed{
         min-width:300px;
    }
}
/* iPad Landscape */
 @media screen and (max-width: 1130px) {
     .slide-nav li > a {
        padding: 18px 25px 15px 20px;
    }
     .nav > li > a{
         margin:0 6px;
    }
     #core, .postbar {
        padding-top: 20px !important;
    }
     .post-previous, .post-next{
         bottom:70px;
    }
     .widgetable_sticky.scroll-to-fixed-fixed{
         position:relative !important;
         top:auto !important;
         left:auto !important;
         right:auto !important;
    }
     .widgetable {
        padding: 0 0 0 20px;
    }
     .mainflex {
        margin: 0 auto 20px;
    }
     .mainflex, .mainflex .slides > li {
        min-height: 350px;
    }
     .slide-nav li > a {
         padding: 10px 5px 15px;
         font-weight:normal;
    }
     .sidele {
        margin: 0 0 20px;
        padding: 20px;
    }
     .grid-item {
         margin: 0 0 20px;
    }
     .grid-item .item_inn {
         padding: 15px 25px;
    }
     .single-post h1.entry-title{
        padding:40px 20px 10px 20px;
    }
     .single-post .item .item_inn{
        padding:0 20px 20px 20px;
    }
     .single-post p.meta.cat{
         left:20px;
         top:25px;
    }
     .page .item_inn{
        padding:0 20px 50px 20px;
    }
     h2.archiv {
         margin: 0 0 20px;
    }
     .blogger .entryhead{
         max-width:45%;
    }
     ul.featured_big{
         width:calc(100% + 40px) !important;
         margin:0 -20px !important;
    }
}
 @media screen and (max-width: 935px){
     .slide-nav, .tab-post .imgwrap{
         display:none;
    }
     #curtain .searchform {
        left: 0;
        margin: -40px 0 0 20px;
         max-width:70%;
    }
     #curtain a.curtainclose{
         left:auto;
         margin: -15px 20px 0 0;
    }
     .about-widget img {
         margin: 0 0 0 -15%;
         max-width: 130%;
         width: 130%;
    }
     .about-widget h2{
         font-size:16px !important;
    }
     .about-widget p.authorinfo {
         font-size: 80%;
    }
     .flexinside {
         bottom: 0;
         width: 80%;
    }
}
/*iPad Portrait */
 @media screen and (max-width: 770px){
     div.tooltip p:after, .nav>li>ul:after, .sf-arrows .sf-with-ul::after, .sf-arrows .sf-with-ul::after, .slide-nav, .tmnf_icon{
         display:none !important;
    }
     body {
         width: 100%;
         min-width: 0;
         margin-left: 0px;
         margin-right: 0px;
         padding-left: 0;
         padding-right: 0;
         margin-top:0;
         font-size: 16px;
         -webkit-text-size-adjust: none;
    }
     .onecol, .twocol, .threecol,.threecol_spec, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol,.fifthcol {
         width: auto;
         float: none !important;
         padding-left: 0px;
         padding-right: 0px;
         margin-left: 0;
         margin-right: 0;
    }
     #header {
        padding: 10px 0 0;
    }
     #titles{
         margin:10px auto !important;
    }
    /* mobile menu */
     a#navtrigger, a#navtrigger-sec{
         display:block !important;
    }
     .navhead{
         position:relative !important;
         top:auto !important;
         left:auto !important;
         right:auto !important;
    }
     #navigation{
         display:none;
         position:relative;
         width:100%;
        top:auto;
         margin:-20px 0 0 0 !important;
         padding:50px 0 0 0 !important;
         background-color:#222 !important;
        -moz-border-radius: 2px;
        -khtml-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
         border-top: none !important;
    }
     #navigation a{
         color:#ddd !important;
    }
     #navigation a.searchOpen{
         right:10px;
    }
     #navigation a:hover, #navigation .current-menu-item>a{
        color:#f4a107 !important;
    }
     ul.nav, #main-nav{
         width:100% !important;
         margin:0 0 0 0 !important;
         padding:0 0 0 0 !important;
    }
     ul.nav li, .nav li ul, #main-nav li.mega ul.sub-menu {
         width:100% !important;
         background-color: transparent !important;
         border:none !important;
         float:none;
         display:block;
        margin:0 0 0 0 !important;
         position:relative !important;
         left:auto !important;
         display:block !important;
         visibility:visible !important;
         padding-top:0;
    }
     #navigation .nav li ul li > a{
         border-bottom:1px dotted #444 !important;
         text-align:left;
    }
     ul.nav li a{
         width:100% !important;
         text-align:left;
         padding:15px 20px !important;
         margin:0 0 0 20px;
         font-size:16px !important;
    }
     .nav li ul li > a {
        font-size: 13px !important;
    }
     .nav li a.sf-with-ul {
        padding-right: 0 !important;
    }
     #main-nav > li > a {
        margin: 0 0 0 0 !important;
    }
     .nav > li > ul > li, .nav li ul ul li, #main-nav li ul li > a, .nav li ul li > a {
        max-width: 100% !important;
        margin:0 0 0 0;
         padding:0 0 0 0;
    }
     .nav li ul{
         padding:0 20px;
    }
     #main-nav li.mega ul.sub-menu {
         min-height:0px;
    }
     .nav li ul ul{
         margin:0 0 0 0;
         padding:0 0 0 0;
    }
     div.sub, .nav > li > ul:after{
         display:none !important;
    }
     .sf-arrows .sf-with-ul::after {
         right: 15px;
    }
    /* end mobile menu */
    /*/
    /// stacked clomuns & posts */
    /* columns */
     #footer .foocol, .blocker, .woocommerce-page #foliocontent, .woocommerce-page #foliosidebar, .eightcol, .fourcol, .footer-logo, .bottom-menu, {
         padding: 0 0 !important;
         width: 100%;
         margin:0 auto !important;
         float:none !important;
         display:block;
         width:100%;
         border-left: none;
         border-right:none;
    }
     #sidebar, .foocol{
         max-width:492px;
         width:100%;
         float:none;
         margin:0 auto !important;
         padding:0 0 !important;
    }
     .widgetable {
        padding: 0 0 0 0 !important;
    }
    /* posts */
     .blogger div.post, .blogger div.page, .blocker .tab-post {
         float: none;
         height: auto;
         left: auto;
         margin: 0 auto 20px;
         max-width: 492px;
         position: relative !important;
         top: auto !important;
         width: 100% !important;
    }
    /*/
    /// end stacked colmuns & posts */
    /* woocommerce */
     .woocommerce-page div.product div.summary {
         margin: 0 0 40px 0;
         width: 100%;
    }
     .woocommerce-page ul.products li.product, .woocommerce ul.products li.product {
         width: 100% !important;
         margin:0 0 30px 0 !important;
    }
     .woocommerce h1.page-title, p.woocommerce-result-count{
         text-align:center;
         width:100%;
    }
     .woocommerce #foliocontent .woocommerce-tabs, .woocommerce #foliocontent .related.products {
        width: 100%;
    }
     .woocommerce-page #foliosidebar {
        clear: both;
    }
     .woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
        float: none;
    }
     .tmnf-sc-quote.left, .tmnf-sc-quote.right{
         width:100%;
         float:none;
         margin-left:0;
         margin-right:0
    }
     .contact-form .forms textarea, .contact-form .forms input.txt{
         width:100%;
         float:none;
         margin-left:0;
         margin-right:0;
         padding-left:0;
         padding-right:0
    }
     .contact-form .forms label{
         margin-bottom:10px
    }
     .contact-form .forms .buttons .submit, .contact-form .forms input#sendCopy{
         margin-left:0;
    }
    /* comments */
     .commentlist li.comment {
        padding: 20px 5px 10px 5px;
    }
     ul.children li.comment:last-child {
        padding: 20px 0 10px 20px !important;
    }
     .commentlist .avatar {
        right: 0;
        left:auto;
        top: 0;
        width: 40px;
    }
     li.bypostauthor{
         padding-left:10px !important;
    }
    /* other */
     .mainflex, .mainflex .slides > li {
        min-height: 250px;
    }
     .about-widget img {
         margin: 0 0 0 0;
         max-width: 100%;
         width: 100%;
    }
     .entryfull {
        margin: 0 0;
    }
     .blogger .entryhead{
         max-width:100%;
         width:100%;
    }
     .blogger .entryhead img{
         width:100%;
    }
}
 @media only screen and (max-width: 589px) {
     h2.archiv, h1.entry-title, .imglarge h2.posttitle, h2{
         font-size: 5.8vw !important;
    }
     h3{
         font-size: 4.8vw !important;
    }
     .mainflex img {
         margin: 0 -15%;
         max-width: 130%;
         width: 130%;
    }
     .comment-form-author, .comment-form-email, .comment-form-url, #post-nav, .postauthor{
         width:100%;
    }
     #respond textarea{
         width:99.5%;
    }
     .entry blockquote {
         margin: 5px 10px;
         padding: 0 20px !important;
    }
     .post-previous, .post-next, .post-nav-image{
        width: 20px !important;
    }
     .scrollTo_top{
         right:0;
         width:100%;
    }
     .scrollTo_top a{
         display:block;
    }
     .scrollTo_top a i {
         float: none;
         padding: 5px 18px 12px;
    }
     .postauthor {
        padding: 10px 20px;
    }
}
 @media only screen and (max-width: 485px) {
     .container, .container_alt {
        padding: 0 10px;
    }
     .mainflex img {
         margin: 0 -30%;
         max-width: 160%;
         width: 160%;
    }
     .mainflex, .mainflex .slides > li {
        min-height: 150px;
    }
     .entryhead iframe {
         max-height: 200px;
    }
     ul.related, ul.related li img{
         width:100%;
    }
     ul.related li{
         width:100% !important;
         margin:0 0 30px 0;
         height:auto;
    }
}
