<template>
  <div id="app">
   
    <Heading/>
    <calculator/>

  </div>
</template> 

<script>
import Heading from './components/Heading.vue'
import calculator from './components/calculator.vue'

export default {
  name: 'app',
  components: {
    Heading,
    calculator
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  
  color: #2c3e50;
  margin-top: 100px;
}
</style>
