<template>
    
<div class="calc" >
  <div class="display"> {{result || 0}}</div>
  <div class="btn clear" @click="clear" > c </div>
  <div class="btn operator" @click="percentage"> % </div>
  <div class="btn" @click="append(7)"> 7 </div>
  <div class="btn" @click="append(8)"> 8 </div>
  <div class="btn" @click="append(9)"> 9 </div> 
  <div class="btn operator" @click="divide "> / </div>
  <div class="btn" @click="append(4)"> 4 </div>
  <div class="btn" @click="append(5)"> 5 </div>
  <div class="btn" @click="append(6)"> 6 </div>
  <div class="btn operator" @click="multiply"> x </div>
  <div class="btn" @click="append(1)"> 1 </div>
  <div class="btn" @click="append(2)"> 2 </div>
  <div class="btn" @click="append(3)"> 3 </div>
  <div class="btn operator" @click="subtraction"> - </div>
  <div class="btn" @click="dot"> . </div>
   <div class="btn" @click="append(0)"> 0 </div>
  <div class="btn" @click="equal"> = </div>
  <div class="btn operator" @click="sum"> + </div>

</div>
</template>

<script> 
export default {
    data(){
        return {
            result: '',
            prev:null,
            operator:null,
            operatorClick: false
        }
    },

    methods:{
        clear(){
            this.result='';
        },
        percentage(){
            this.result=parseFloat(this.result)/100;
        },
         append(number){
             if(this.operatorClick){
                 this.result ='';
                 this.operatorClick = false;
             }
        this.result=this.result+number;
        },
        dot(){
            if (this.result.indexOf('.') === -1){
                this.append('.');
            }
        },

        
        divide(){
            this.operator = (a,b) => b/a;
            this.setPrev();
            },
        
        multiply(){
            this.operator = (a,b) => b*a;
            this.setPrev();
            },

        subtraction(){
            this.operator = (a,b) => b-a;
            this.setPrev();
            },
        
        sum(){
            this.operator = (a,b) => a+b;
            this.setPrev();
            },
        equal(){
            this.result = this.operator(
                parseFloat(this.result),
                parseFloat(this.prev)
            );
            this.prev=null;
        },

        setPrev(){
            this.prev=this.result;
            this.operatorClick=true;
        }
    }
}
</script>

<style>
*{
    border-inline: 20px #1231;
}

.calc{
    width: 400px;
    margin: 0% auto;
    font-size: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(auto, auto);
    
}
.display{
    grid-column: 1/5;
    background: rgba(22, 20, 20, 0.2);
    color: rgb(5, 5, 5);
    padding: 20px;
    text-align: right;

}
.clear{
grid-column: 1/4;

}
.btn{
padding: 10px;
color:#ffff;
background: linear-gradient( #161515,rgb(27, 27, 27));
border: 1px  #9999;
cursor: pointer;

}

.btn:active{
    background: #7777;
    color:#fff;

}

.operator{
    color:white;
    background:linear-gradient( #f58e20, #f59b3b);
}



</style>